@{
  Layout = "_Layout";
}
<form action="/pets" method="post">
  <label for="name">Choose your pets name: </label>
  <input id="name" name="name" type="text">
  <input type="radio" name="image" value="" />
  <input type="radio" name="image" value="" />
  <input type="radio" name="image" value="" />
  <input type="radio" name="image" value="" />
  <input type="radio" name="image" value="" />
  <input type="radio" name="image" value="" />
  <button type="submit">Submit</button>
</form>